.Card {
    /* Original card size is 88x57 mm */
    border-radius: 10px;
    height: 190px;
    width: 124px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    background-size: cover;

    border-color: #111111;
    border-width: 0px;
    border-style: solid;
}

.Card-valid-play:hover {
    transform: translate(0px, -20px);
    cursor: grab;
}

.Card-blue {
    background-color: midnightblue;
}

.Card-red {
    background-color: red;
}

.Card-yellow {
    background-color: yellow;
}

.Card-green {
    background-color: green;
}

.Card-wizard {
    background-color: black;
    color: white;
}

.Card-jester {
    background-color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    color: black;
}

.Card-background {
    background-image: url("images/card-background.png");
}

.Card-red-1 {
    background-image: url("images/card-red-1.png");
}

.Card-red-2 {
    background-image: url("images/card-red-2.png");
}

.Card-red-3 {
    background-image: url("images/card-red-3.png");
}

.Card-red-4 {
    background-image: url("images/card-red-4.png");
}

.Card-red-5 {
    background-image: url("images/card-red-5.png");
}